In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [34]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

aq_df = pd.read_csv(
    "/data/FannieMae/2010Q1/Acquisition_2010Q1.txt"
)

In [41]:
len(aq_df.columns[0])
print(aq_df.columns)

Index(['0'], dtype='object')

In [42]:
col_names = [
    f"{idx}" for idx, _ in enumerate(df.columns[0])
]

In [58]:
aq_df = pd.read_csv(
    "/data/FannieMae/2010Q1/Acquisition_2010Q1.txt",
    sep="|"
)
NAMES = {
    
}
col_names = [
    NAMES.get(idx, f"{idx}") for idx, _ in enumerate(range(25))
]
aq_df = pd.read_csv(
    "/data/FannieMae/2010Q1/Acquisition_2010Q1.txt",
    header=None,
    names=col_names,
    sep="|"
)

In [60]:
print(aq_df.columns)
aq_df['0']

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'],
      dtype='object')

0         100010079393
1         100013622306
2         100019943199
3         100022098429
4         100023088745
              ...
323169    999990451380
323170    999993511488
323171    999993982336
323172    999998369629
323173    999999167522
Name: 0, Length: 323174, dtype: int64

In [61]:
IDS = aq_df["0"]
idx = IDS[1]
print(f"Using ID: {idx}")

Using ID: 100013622306

In [62]:
per_df = pd.read_csv(
    "/data/FannieMae/2010Q1/Performance_2010Q1.txt",
    sep="|"
)
col_names = [
    f"{idx}" for idx, _ in enumerate(per_df.columns)
]
per_df = pd.read_csv(
    "/data/FannieMae/2010Q1/Performance_2010Q1.txt",
    header=None,
    names=col_names,
    sep="|"
)

/home/capcolabs/Environments/FannieData/venv/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [65]:
def show_id(idx, df):
    holder = df['0'] == idx
    return df[holder]

print(show_id(idx, per_df))

                0           1                         2     3         4    5  \
12   100013622306  01/01/2010  JP MORGAN CHASE BANK, NA  4.75       NaN    0
13   100013622306  02/01/2010                       NaN  4.75       NaN    1
14   100013622306  03/01/2010                       NaN  4.75       NaN    2
15   100013622306  04/01/2010                       NaN  4.75       NaN    3
16   100013622306  05/01/2010                       NaN  4.75       NaN    4
..            ...         ...                       ...   ...       ...  ...
118  100013622306  11/01/2018                       NaN  4.75  42829.43  106
119  100013622306  12/01/2018                       NaN  4.75  42322.24  107
120  100013622306  01/01/2019                       NaN  4.75  41813.05  108
121  100013622306  02/01/2019                       NaN  4.75  41813.05  109
122  100013622306  03/01/2019                       NaN  4.75  40788.61  110

       6      7        8      9  ...  21  22  23  24  25  26  27   28  29  30
12   180  179.0  01/2025  47300  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN   N
13   179  178.0  01/2025  47300  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN   N
14   178  177.0  01/2025  47300  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN   N
15   177  177.0  01/2025  47300  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN   N
16   176  175.0  01/2025  47300  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN   N
..   ...    ...      ...    ...  ...  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..
118   74   73.0  01/2025  47300  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN   N
119   73   72.0  01/2025  47300  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN   N
120   72   71.0  01/2025  47300  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN   N
121   71   71.0  01/2025  47300  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN   N
122   70   69.0  01/2025  47300  ... NaN NaN NaN NaN NaN NaN NaN  NaN NaN   N

[111 rows x 31 columns]